//General
$offwhite: #dfdddd;
$nearblack: #1e1e1e;
$neargrey: #272727;
$purple: #6620bd;
$secondary: #ffda55;
$accent: #7ae9ae;
$light-text: #f1f1f1;
$padding-desk-hor: 16px;
$max-desk-w: 1600px;
$mainfont: "Poppins", sans-serif;
$secondfont: "Roboto", sans-serif;
$large-heading: 58px;
$small-heading: 36px;
$large-para: 20px;
$small-para: 18px;
