@import "./variables";
@import "./mixins";

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $nearblack;
  text-decoration: none;
  font-family: $mainfont;
}

body {
  background-color: $nearblack;
  padding: 16px;
  min-height: 900px;
  height: 100%;
}

div {
  scroll-margin-top: 100px;
}
