@import "./variables";
@import "./mixins";

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $nearblack;
  text-decoration: none;
  font-family: $mainfont;
}

body {
  background-color: $nearblack;
  padding: 8px;
  min-height: 900px;
  height: 100%;
}

.sec-btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 2000px;
  color: $nearblack;
  background-color: $offwhite;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

.sec-btn:hover {
  scale: 1.15;
  cursor: pointer;
}
