@import "../global/variables";
@import "../global/mixins";

.about-wrapper {
  width: 100%;
  max-width: $max-desk-w;
  height: calc(100vh - 90px);
  min-height: 1100px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .top {
    display: flex;
    gap: 8px;
    height: 50%;

    .left {
      position: relative;
      width: 40%;
      height: 100%;
      background: $purple;
      border-radius: 32px;
    }

    .left::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-image: url(../../images/19.png);
      background-size: cover;
      background-position: center;
    }

    .right {
      height: 100%;
      width: 60%;
      background-color: $offwhite;
      border-radius: 32px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 28px;

      .about-heading {
        font-size: $large-heading;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -1.2px;
        color: $nearblack;
      }

      .about-para {
        font-size: $large-para;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 1px;
        color: $nearblack;
      }
    }
  }

  .bottom {
    width: 100%;
    height: 50%;
    background-color: $secondary;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 28px;

    .testimonial-heading {
      font-size: $large-heading;
      font-weight: 400;
      line-height: 56px;
      letter-spacing: -1.2px;
      color: $nearblack;
    }

    #main-slider-container {
      width: 988px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: start;

      .slider-icon.left {
        bottom: 0;
        left: 44%;
      }

      .slider-icon.right {
        bottom: 0;
        right: 44%;
      }

      .slider-icon.left,
      .slider-icon.right {
        box-shadow: none;
        opacity: 1;
        border-radius: 6px;
        padding: 8px;
        width: 50px;
        height: 50px;
        border: 4px solid $nearblack;
        box-shadow: 4px 4px $nearblack;
      }
      #slider {
        width: 100%;
        height: 85%;
        scroll-snap-type: x mandatory;

        .slider-card {
          background-color: $offwhite;
          position: relative;
          height: 95%;
          box-shadow: 4px 4px $nearblack;
          border-radius: 24px;
          border: 4px solid $nearblack;
          scroll-snap-align: start;
          padding: 8px;

          .slider-card-image {
            width: 72px;
            height: 72px;
            border-radius: 2000px;
            position: absolute;
            left: 16px;
            top: 16px;
          }

          .slider-card-title {
            font-size: 20px;
            font-weight: 500;
            margin-top: 56px;
            margin-left: 92px;
          }

          .slider-card-description {
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            color: $nearblack;
            opacity: 1;
            margin-top: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1014px) {
  .about-wrapper {
    .top {
      height: 100%;
    }
    .bottom {
      height: 100%;
      #main-slider-container {
        width: 100%;

        .slider-icon.left,
        .slider-icon.right {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 892px) {
  .about-wrapper {
    height: 100%;
    .top {
      flex-direction: column;
      .left {
        width: 100%;
        min-height: 300px;
        background-position: bottom;
      }

      .right {
        width: 100%;

        .about-heading {
          font-size: $small-heading;
          line-height: 40px;
        }

        .about-para {
          font-size: $small-para;
          line-height: 22px;
        }
      }
    }

    .bottom {
      height: 500px;
      .testimonial-heading {
        font-size: $small-heading;
        line-height: 40px;
      }

      #main-slider-container {
        height: 100%;
        #slider {
          height: 100%;
          display: flex;
          .slider-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px;
            gap: 8px;
            height: 250px;

            .slider-card-image {
              position: initial;
            }

            .slider-card-title {
              margin: 0;
            }

            .slider-card-description {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
