@import "../global/variables";
@import "../global/mixins";

.contact-wrapper {
  width: 100%;
  max-width: $max-desk-w;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  // padding: 0 16px;

  .contact-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 1000px;

    .contact-heading {
      font-size: 58px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: -1.2px;
      color: $light-text;
      text-align: center;
    }

    .contact-para {
      font-size: 20px;
      font-weight: 200;
      line-height: 1.3;
      letter-spacing: 1px;
      color: $light-text;
      text-align: center;
    }
  }

  .contact-links {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;

    .contact-card-purple,
    .contact-card-green {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(500px - 32px);
      height: 120px;
      border-radius: 16px;
      gap: 24px;
      background-color: $neargrey;

      svg {
        font-size: 36px;
        path {
          fill: $light-text;
        }
      }

      .contact-card-para {
        font-size: 24px;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 1px;
        color: $light-text;
      }
    }

    .contact-card-purple {
      &:hover {
        background-color: #3e3642;
        box-shadow: 0 20px 70px #6720bd28;
        transition: 0.3s ease-in-out;
      }
    }

    .contact-card-green {
      &:hover {
        background-color: #36423e;
        box-shadow: 0 20px 70px #20bd7c23;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .contact-wrapper {
    .contact-header {
      .contact-heading {
        font-size: $small-heading;
        line-height: 40px;
      }

      .contact-para {
        font-size: $small-para;
        line-height: 22px;
      }
    }

    .contact-links {
      .contact-card-purple,
      .contact-card-green {
        svg {
          font-size: 24px;
        }

        .contact-card-para {
          font-size: $small-para;
        }
      }
    }
  }
}

@media screen and (max-width: 664px) {
  .contact-wrapper {
    .contact-header {
      align-items: flex-start;
      .contact-heading,
      .contact-para {
        text-align: start;
      }
    }
    .contact-links {
      flex-wrap: nowrap;
      flex-direction: column;
      width: 100%;
      .contact-card-purple,
      .contact-card-green {
        width: 100%;
        height: 100px;
      }
    }
  }
}
