@import "../global/mixins";
@import "../global/variables";

.top-nav-header {
  opacity: 0;
  transition: 0.5s ease;
}

.top-nav-header.hidden {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  .top-nav.hidden {
    width: 100%;
    max-width: 1920px;
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      color: $offwhite;
    }

    .nav-item.hidden {
      padding: 0 16px;
      font-weight: 700;
      color: $offwhite;
    }

    .nav-btn.hidden {
      display: none;
    }
  }
}

.top-nav-header.visible {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  background-color: $nearblack;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  .top-nav.visible {
    width: 100%;
    max-width: 1920px;
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      color: $offwhite;
    }

    .nav-item.visible {
      padding: 0 16px;
      font-weight: 700;
      color: $offwhite;
    }

    .nav-btn.visible {
      display: inline-block;
      width: 200px;
      height: 60px;
      border: none;
      border-radius: 200px;
      color: $nearblack;
      background-color: $accent;
      font-size: 16px;
      font-weight: 600;
    }

    .nav-btn.visible:hover {
      cursor: pointer;
      background-color: #c3e80a;
      color: $nearblack;
      transition: 0.3s ease;
    }
  }
}
