@import "../global/mixins";
@import "../global/variables";

.top-nav-header {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.top-nav-header.hidden {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 24;

  .top-nav.hidden {
    width: 100%;
    max-width: $max-desk-w;
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      background: none;
      border: none;

      h2 {
        color: $light-text;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .nav-item.hidden {
      padding: 0 16px;
      font-weight: 700;
      color: $light-text;
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }

    .nav-btn.hidden {
      display: none;
    }

    .nav-item.hidden.link {
      font-size: 14px;
    }
  }
}

.top-nav-header.visible {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  background-color: $nearblack;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 24;
  transition: opacity 0.5s ease;

  .top-nav.visible {
    width: 100%;
    max-width: 1920px;
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      color: $light-text;
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
      }

      h2 {
        color: $light-text;
      }
    }

    .nav-item.visible {
      padding: 0 16px;
      font-weight: 700;
      color: $light-text;
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }

    .nav-item.visible.link {
      font-size: 14px;
    }

    .nav-btn.visible {
      display: inline-block;
      width: 200px;
      height: 60px;
      border: none;
      border-radius: 200px;
      color: $nearblack;
      background-color: $accent;
      font-size: 16px;
      font-weight: 600;
    }

    .nav-btn.visible:hover {
      cursor: pointer;
      background-color: #a9f1cb;
      color: $nearblack;
      transition: 0.3s ease;
    }
  }
}

@media screen and (max-width: 892px) {
  .top-nav-header {
    height: 80px;
    z-index: 300;

    .menu-btn {
      position: absolute;
      right: 28px;
      top: 28px;
      width: 32px;
      height: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 350;

      .menu-line {
        width: 100%;
        height: 4px;
        background-color: $offwhite;
        border-radius: 200px;
        transition: 0.3s ease;
      }
    }

    .menu-btn.close {
      justify-content: center;
      align-items: center;

      .menu-line:first-child {
        transform: rotate(45deg) translateX(4px);
      }

      .menu-line:nth-child(2) {
        display: none;
      }

      .menu-line:last-child {
        transform: rotate(-45deg) translateX(4px);
      }
    }
  }

  .mobile-nav {
    width: 100%;
    height: 0;
    background-color: $nearblack;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: height 0.3s ease;
    z-index: 23;

    ul {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      align-items: center;

      .nav-item {
        font-size: $small-heading;
        font-weight: 200;
        background: none;
        color: $light-text;
        border: none;
        padding: 24px 0;
        border-bottom: 1px solid $offwhite;
        width: 100%;
      }

      .nav-item.link {
        text-align: center;
      }

      .nav-btn {
        width: 94%;
        margin-top: 28px;
        padding: 18px;
        font-size: 18px;
        border-radius: 20000px;
        border: none;
        background-color: $accent;
      }
    }
  }

  .mobile-nav.open {
    height: 100vh;
  }

  .nav-logo {
    background: none;
    border: none;
    position: absolute;
    left: 28px;
    z-index: 201;

    h2 {
      color: $light-text;
    }
  }
}
