@import "../global/variables";

.stack-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 16px;

  .stack-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: $max-desk-w;
    height: 100%;
    gap: 50px;

    .stack-header {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 1000px;

      .stack-heading {
        font-size: $large-heading;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -1.2px;
        color: $offwhite;
        text-align: center;
      }

      .stack-para {
        font-size: $large-para;
        font-weight: 200;
        line-height: 1;
        letter-spacing: 1px;
        color: $offwhite;
        text-align: center;
      }
    }

    .stack-card-container {
      display: flex;
      justify-content: center;
      gap: 18px;
      width: 100%;
      max-width: 1000px;
      flex-wrap: wrap;

      .stack-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        min-width: 140px;
        height: 140px;
        border-radius: 16px;
        background-color: $neargrey;

        .stack-card-icon {
          font-size: 36px;
          path {
            fill: $light-text;
          }
        }
        .stack-card-title {
          font-size: $large-para;
          font-weight: 200;
          line-height: 1;
          letter-spacing: 1px;
          color: $light-text;
        }

        &:hover {
          background-color: #3e3642;
          box-shadow: 0 20px 70px #6720bd28;
          transition: 0.5s ease-in-out;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .stack-wrapper {
    .stack-card-container {
      .stack-card {
        flex: 0 0 32%;
      }
    }
  }
}

@media screen and (max-width: 948px) {
  .stack-wrapper {
    .stack-card-container {
      .stack-card {
        flex: 0 0 48%;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .stack-wrapper {
    .stack-content {
      .stack-header {
        .stack-heading {
          font-size: $small-heading;
          line-height: 40px;
        }

        .stack-para {
          font-size: $small-para;
          line-height: 22px;
        }
      }

      .stack-card-container {
        .stack-card {
          svg {
            font-size: 24px;
          }

          .stack-card-title {
            font-size: $small-para;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 664px) {
  .stack-wrapper {
    .stack-content {
      .stack-header {
        .stack-heading {
          text-align: start;
        }

        .stack-para {
          text-align: start;
        }
      }

      .stack-card-container {
        .stack-card {
          svg {
            font-size: 24px;
          }

          .stack-card-title {
            font-size: $small-para;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 498px) {
  .stack-wrapper {
    .stack-card-container {
      // flex-wrap: nowrap;
      // flex-direction: column;
      .stack-card {
        min-width: initial;
        width: 44%;
        // padding: 24px 0;
        flex: initial;
      }
    }
  }
}
